# OS
.DS_Store

# IDE
.idea/
*.iml
.vscode/

# Gradle
.gradle/
.gradle-home/
*.log

# Build outputs
build/
out/
*/build/

# Java/Kotlin
*.class
*.jar
*.war
*.ear

# Android（如有）
local.properties
.cxx/
captures/
outputs/

# Others
Thumbs.db
