# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
.vscode/

# Gradle caches & logs
.gradle/
.gradle-home/
*.log

# Build outputs
/build/
out/
*/build/

# Android/NDK
local.properties
.cxx/
.externalNativeBuild/
captures/
outputs/

# Java/Kotlin classes
*.class

# Allow these jars (do not ignore):
!gradle/wrapper/gradle-wrapper.jar
!app/libs/*.jar
